.body {
    background-color: silver;
}


.App {
    width: 100%;
    margin: 50px auto;
}

.header {
   text-align: center;
    padding: 20px 0px ;
    font-size: 2rem;
    border-bottom: 1px solid silver;
    color: silver;
    margin-bottom: 20px;
}

.imgBlock {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}



.Card {
    background-color: #22222e;
    margin-bottom: 20px;
    width: 250px;
    border-radius: 10px;
    opacity: 0.6;
    transition: 0.5s;
}

.Card:hover {
    box-shadow: 0 20px 20px rgb(0 0 0);
    border: none;
    opacity: 1;
    transition: 0.4s;
}

.Card img {
    border-radius: 50%;

}

.imgCard {
    align-self: center;
    width: 150px;
    height: 150px;
    margin: auto;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: silver;
    font-weight: bold;
    width: 20px;
    height: 20px;
    font-size: 16px;
    padding: 0px;
}

button:hover {
    color: red;
}



.load {
    margin: auto ;
    font-size: 30px;
    color: silver;
    font-weight: 600;
}

.title {
    color: silver;
    padding: 20px;
}

.Check-Delete {
    justify-content: space-between;
    display: flex;
    margin-top: 5px;

}



